---
import Main from '../layouts/main.astro';
import Hero from '../images/home-img.png';
import logo from '../images/Logo-Animate.png';
import Syngif from '../images/homebnr-note.png';
import fos from '../images/fossee-logo.png';
import iit from '../images/IITB-logo.png';
import regi from '../images/btn-01-a.png';
---

<Main>
<div
      
      class="lg:hidden sm:block rounded-t-lg mx-1 px-1" style="background:#ac56f8;"
    >
      <!-- <nav> --> 
    <div class="flex flex-row align-items-center justify-center bottom-8" style="background-color:#fff8dd" data-astro-cid-mmggtga4="">
    <div class="flex items-start justify-start float-start w-1/2" data-astro-cid-mmggtga4="">
    <a href="https://www.iitb.ac.in/" target="_blank">
    <img src={iit.src} alt="iitb" decoding="async" data-astro-cid-mmggtga4="" style="width: 100px;">
    </a>
    </div>
    <div class="flex justify-end items-end float-end w-1/2" data-astro-cid-mmggtga4="">
    <a href="https://fossee.in" target="_blank">
    <img class="float-end" src={fos.src} alt="fossee" decoding="async" data-astro-cid-mmggtga4="" style="width: 100px;">
    </a>
    </div>
    </div>
        <div class="grid my-auto grid-rows-1 sm:grid-rows-1">
          <div class="row-span-1"><div class="pt-5 flex items-center justify-center">
        
            <img  src={logo.src} alt="regi" decoding="async" />
          </div></div>
         
         
        </div>
        <div class="flex items-center justify-center"><ul class="">
          <li class="py-2 "><a href="/register">
      
            <img class="duration-300" src={regi.src} alt="regi" decoding="async" />
            <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
        
            
          </a></li>
        </ul></div>
        <div class="row-span-1 bg-red-500"> <div class="dates items-center" style="color:#e7dacb">
          <!-- <p class="important-date flex items-center justify-center text-2xl md:text-center lg:text-2xl text-center"><strong> - Registrations are closed -</strong></p>
                <p class="important-date flex items-center justify-center text-2xl md:text-center lg:text-2xl text-center"><strong> - Last date of submission -</strong></p>
                <p class="important-date flex items-center justify-center text-2xl md:text-center lg:text-2xl"> 23 June 2025</p>                 -->
        </div></div>
      <!-- </nav> -->
    </div>
  <section id="hero">
    <img  class="w-full object-cover p-4 m-4"  src={Hero.src} alt="WELCOM TO SYNFIG STUDIO HACKATHON" decoding="async" />
    <div class="h-auto flex flex-col">
     
      <div class="static lg:absolute bottom-0 lg:bottom-10">
        <a href="https://spoken-tutorial.org/tutorial-search/?search_foss=Synfig&search_language=" target="_blank">
        <img  src={Syngif.src} alt="WELCOM TO SYNFIG STUDIO HACKATHON" decoding="async" />
        </a>
      </div>
    </div>
  </section>

</Main>