---
import Main from '../layouts/main.astro';
import edivgibidivty from '../images/edivgibidivty.png';
// import { sdivde } from 'astro:transitions';
import fossee from '../images/fossee-logo.png';
import iitb from '../images/IITB-logo.png';
import focal from '../images/focal.png';
import spoken from '../images/spoken.png';
import srishti from '../images/srishti-manipal-logo.png';
import manipal from '../images/manipal-logo.png';
import ww from '../images/whistling-wood-logo.png';
import mbc from '../images/manipal-bangalore-camp.png';
---

<Main>
    <section id="partner">
         <div class="flex items-center justify-center mb-2 mt-4">
        <h1 class="justify-end text-4xl">Knowledge Partner: <span class="text-lg justify-center">Design Led Innovation Program, Srishti Manipal Institute, MAHE - Bangalore</span></h1>
      </div>
    <!-- First Row -->
    <div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
      <!-- Your content for the first row goes here -->
      <!-- <p>Partners </p> -->
      <div class="grid gap-4 grid-cols-3 place-items-center items-center justify-center">

        <div class="text-red-300">
          <a href="https://srishtimanipalinstitute.in/" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
      
            <img class="logos" src={srishti.src} alt="regi" decoding="async" />
            <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
        
            
          </a></div>
          <div class="text-red-300">
          <a href="https://www.manipal.edu/mu.html" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
      
            <img class="logos" src={manipal.src} alt="regi" decoding="async" />
            <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
        
            
          </a>
          </div>
          <div class="text-red-300">
            <a href="https://www.manipal.edu/mu.html" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
              <img class="logos" src={mbc.src} alt="manipal Banglore Campus" decoding="async" />
              <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
          
              
            </a>
            </div>
      

        </div>
        </div>
<div class="grid grid-cols-2 gap-4 mb-2 mt-2">
<div class="flex items-center justify-center">
  <h1 class="justify-end text-4xl">Execution Partner</h1>
</div>
<div class="flex items-center justify-center">
  <h1 class="justify-end text-4xl">Youth Partner</h1>
</div>
</div>
<div class="grid grid-cols-2 gap-4">
<!-- First Row -->
<div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
<!-- Your content for the first row goes here -->
<!-- <p>Partners </p> -->
<div class="grid gap-4 grid-cols-1 place-items-center items-center justify-center">
  <div class="text-red-300">
    <a href="https://www.whistlingwoods.net/" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">

      <img class="logos" src={ww.src} alt="regi" decoding="async" width="200px" />
      <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
  
      
    </a></div>


  </div>
  </div>

<!-- First Row -->
<div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
<!-- Your content for the first row goes here -->
<!-- <p>Partners </p> -->
<div class="grid gap-4 grid-cols-1 place-items-center items-center justify-center">
  <div class="text-red-300">
    <a href="https://yas.nic.in/" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">

      <img class="logos" src="https://yas.nic.in/sites/all/themes/youthaffair/logo.png" alt="regi" decoding="async" />
      <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
  
      
    </a></div>


  </div>
  </div>   
  </div>
      <!-- Second partners -->
<div class="grid grid-cols-2 gap-4 mt-4 mb-2">
 <div class="flex items-center justify-center">
        <h1 class="justify-end text-4xl">Resource Partner</h1>
      </div>
      <div class="flex items-center justify-center">
            <h1 class="justify-end text-4xl">Learning Partner</h1>
          </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
      <div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
        <!-- Your content for the first row goes here -->
        <!-- <p>Partners </p> -->
        <div class="grid gap-4 sm:grid-cols-1 grid-cols-1 place-items-center items-center justify-center">
          
          <!-- <div class="text-red-300">
          <a href="https://www.iitb.ac.in/" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
      
            <img class="logos" src={iitb.src} alt="regi" decoding="async" />
            
        
            
          </a></div> -->
          <!-- <div class="text-red-300">
          <a href="https://fossee.in" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
      
              <img class="logos" src={fossee.src} alt="regi" decoding="async" />
              
          
              
            </a></div> -->
           
            <div class="text-red-300">
            <a href="https://focal.fossee.in" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
      
              <img class="logos" src={focal.src} alt="regi" decoding="async" />
              <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
          
              
            </a></div>
            <div class="hidden sm:block"></div>

        </div>


    </div>
  
        <!-- First Row -->
        <div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
          <!-- Your content for the first row goes here -->
          <!-- <p>Partners </p> -->
          <div class="grid gap-4 sm:grid-cols-1 grid-cols-1 place-items-center items-center justify-center">
                        <div class="text-red-300">
              <a href="https://spoken-tutorial.org/" target="_blank" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="logos" src={spoken.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></div>
             
              

          </div>

</div>
      </div>

     
      </section>
      
    </Main>